<form
  [formGroup]="demoForm"
  ngNativeValidate
  (keydown.enter)="$event.preventDefault()"
>
  <mat-card
    style="    width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  /* background-color: #6600cc; */
  color: grey;
  font-size:16px;
  /* box-shadow: 6px 6px 12px 0px rgb(219, 175, 219); */
  border-radius: 10px 10px 10px 10px;"
  class="shadow-lg"
  >
    <div class="row">
      <div class="col-md-1 text-center">BP</div>
      <div class="col-md-1  text-center">SG</div>
      <div class="col-md-1  text-center">SU</div>
      <div class="col-md-1  text-center">RBC</div>
      <div class="col-md-1  text-center">PC</div>
      <div class="col-md-1  text-center">PCC</div>
      <div class="col-md-1  text-center">BA</div>
      <div class="col-md-1  text-center">BGR</div>
      <div class="col-md-1  text-center">BU</div>
      <div class="col-md-1  text-center">SC</div>
      <div class="col-md-1  text-center">SOD</div>
      <div class="col-md-1  text-center">WC</div>
    </div>
    <div class="row">
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input1"
          input1
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input2"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input3"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input4"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input5"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input6"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input7"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input8"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input9"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input10"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input11"
          style="color: black;"
          required
        />
      </div>
      <div class="col-md-1  text-center">
        <input
          type="text"
          formControlName="input12"
          style="color: black;"
          required
        />
      </div>
    </div>
  </mat-card>
  <div class="col-md-12 text-center" style="margin-top: 30px;;">
    <mat-card-actions class="login-button-style">
      <button
        style="background-color:#6600cc;color: white"
        mat-raised-button
        (click)="SubmitForm(demoForm.value)"
      >
        Submit
      </button>
    </mat-card-actions>
  </div>
</form>

<mat-card
  id="showBlock"
  style="    width: 25%;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
border-radius: 10px 10px 10px 10px;

/* background-color: #6600cc; */
color: black;
height: 100px; 
font-size: 20px;display: none;"
  class="text-center col-md-12 row shadow-lg"
  >
<div class="col-md-12 row" style="margin-top: 20px;">  <div class="col-md-4"> <img src="../../../assets/images/ckd.png" style="width: 66px;
  margin-top: -19px;"></div>
  <div class="col-md-4"> CKD</div>
  <div class="col-md-4" style="font-weight: 600;font-size: 23px;">96 %</div>
</div>

  </mat-card
>
